extends layout 
 
block content
  h1(class='container-fluid p-5 bg-primarary text-success text-center', style= 'background-color:#B233FF')= title
 
  form(id='EarpodsForm', action="/resource/Earpods", method="POST") 
    div.form-group 
        label.EarpodsAttr(for='Earp_Name') Earpods Name 
        input#Earp_Name(type='text', name='Earp_Name') 
    div.form-group 
        label.EarpodsAttr(for='Earp_Type') Earpods Type 
        input#Earp_Type(type='text', name='Earp_Type') 
    div.form-group 
        label.EarpodsAttr(for='Earp_Size') Earpods Size 
        input#Earp_Size(type='number', name='Earp_Size') 
    input(type="submit") 
 
  script. 
    document.forms['EarpodsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 
 